/* hide popovers when debugging */
/*
.monaco-hover *,
[widgetid='editor.contrib.resizableContentHoverWidget'] {
	display: none;
  pointer-events: none;
}
*/

/* FIXME: include this into the extension, but precalculate the "concise" class beforehand */
.view-lines {
  --r: rgb(128, 128, 128);
}
.view-lines:has(:is(.mtk4, .mtk14):hover) {
  --r: red;
}
:is(.mtk4, .mtk14) {
  color: var(--r);
}
