
.view-lines {
	--r: transparent;
	}
	.view-lines > div:hover {
	--r: yellow;
	}
	.view-lines:has(:is(.mtk1+.bracket-highlighting-4,.mtk1+.mtk1.bracket-highlighting-0+.mtk1+.mtk1.bracket-highlighting-1:last-child,.mtk1,.mtk1,.mtk1):hover) {
	--r: red;
	}
	[data-mode-id="typescriptreact"] .view-lines.monaco-mouse-cursor-text>div>span:has(:nth-last-child(3).mtk1+.bracket-highlighting-4+.mtk1) :nth-last-child(2),
	[data-mode-id="typescriptreact"] .view-lines.monaco-mouse-cursor-text>div>span:has(.mtk1+.mtk1.bracket-highlighting-0+.mtk1+.mtk1.bracket-highlighting-1:last-child) :last-child,
	[data-mode-id="typescriptreact"] .view-lines.monaco-mouse-cursor-text>div>span>.mtk1,
	[data-mode-id="typescriptreact"] .view-lines.monaco-mouse-cursor-text>div>span>.mtk1,
	[data-mode-id="typescriptreact"] .view-lines.monaco-mouse-cursor-text>div>span>.mtk1 {
	color: var(--r);
	}
	.mtk1:has(+.mtk1), .mtk1+.mtk1 {
	color: gray;
	}
	